@model Camilo_Rendon.Models.Medico

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Editar Medico</h1>


<hr />

<div class="container d-flex justify-content-center">
    <div class="card p-4 shadow-lg" style="width: 40rem;">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdMedico" />

            <div class="form-group">
                <label asp-for="NombreCompleto" class="control-label"></label>
                <input asp-for="NombreCompleto" class="form-control" />
                <span asp-validation-for="NombreCompleto" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Especialidad" class="control-label"></label>
                <input asp-for="Especialidad" class="form-control" />
                <span asp-validation-for="Especialidad" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CorreoElectronico" class="control-label"></label>
                <input asp-for="CorreoElectronico" class="form-control" />
                <span asp-validation-for="CorreoElectronico" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="HorarioAtencion" class="control-label"></label>
                <input asp-for="HorarioAtencion" class="form-control" />
                <span asp-validation-for="HorarioAtencion" class="text-danger"></span>
            </div>

            <div class="form-group text-center mt-3">
                <input type="submit" value="Guardar" class="btn btn-primary px-4" />
            </div>
        </form>

        <div class="text-center mt-3">
            <a asp-action="Index" class="btn btn-secondary">Atras</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
